<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860317567061-t6r70tr414n22ajtna361au9uki8hl8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860317567061-t6r70tr414n22ajtna361au9uki8hl8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCxBhz2v8jOD96hzmXqqrMCFH25tNWM5as</string>
	<key>GCM_SENDER_ID</key>
	<string>860317567061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iOS.Silo.com</string>
	<key>PROJECT_ID</key>
	<string>silo-wallet-d33ec</string>
	<key>STORAGE_BUCKET</key>
	<string>silo-wallet-d33ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860317567061:ios:34e7528d2fa53f34ca6cdc</string>
</dict>
</plist>